<div class="page-header">
  <h1>
    Dishes
    <a href="/dishes/new" class="btn btn-lg btn-success">New Dish</a>
  </h1>
</div>
<div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
      <p class="lead">Narrow results:</p>

<div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>
  
<div class="form-group">
  <label for="cuisine_id_eq_any">Cuisine</label>
  <%= f.label :id_eq, "Cuisine" %>
  <% @cuisines.each do |cuisine| %>
    <div class="checkbox">
      <label>
        <%= check_box_tag('q[cuisine_id_eq_any][]', cuisine.id) %>
        <%= cuisine.name %>
      </label>
    </div>
    <% end %>
</div>

   <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
      <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row m-b-2">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>The Very Best...</th>
        <th>Is at...</th>
      </tr>

      <% @dishes.each do |dish| %>
      <tr>
        <td><a href="/dishes/<%=dish.id%>"><%= dish.name %></a></td>
        
        <% dish_bookmark = Bookmark.where({:user_id => current_user.id, :dish_id => dish.id}) %>
        <% if dish_bookmark.length == 0%>
          <td> 
            <form action="/create_bookmark" class="form-inline" method="post">
              <input type="hidden" name="dish_id" value="<%=dish.id%>">
              <input type="hidden" name="user_id" value="<%=current_user.id%>">
          
                <%=
                    select_tag("venue_id",
                      options_from_collection_for_select(
                        Venue.all.order(:name), # collection to loop over
                        :id,                       # attribute to use for the value as a symbol
                        :name,                     # attribute to use as the content as a symbol
                      ),
                      {:prompt => 'Choose a venue...', :class => "form-control form-control-sm mr-sm-1" },
                    )
                  %>
               

                <button style="display:inline;" class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>
          </td>
          
        <% else %>
        <% bookmarked_venue = Venue.where({:id => dish_bookmark.first.venue_id}).first %>
        <td>
          <a href="/venues/<%=bookmarked_venue.id%>">
          <%=bookmarked_venue.name %>
          </a>
        </td>
        <% end %>
          
        <td align="right">
          <% if dish.cuisine.present? %>
            <span class="badge badge-primary">
              <%= dish.cuisine.name %>
            </span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>
  
  <div class="col-md-3">
    <h1>
      <a href="/venues/new" class="btn btn-block btn-success">Add a new venue</a>
    </h1>
  </div>
  
  
</div>

 


  
  
  
  
 
  
  
  
  



